<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List</title>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>To Do</h1>
          <p>Put It Down and Make It Happen</p>
          <form id= "toDoList" action="/addItem" method="post">
            <input type="text" name="text" placeholder="what to add?" />
            <button type="submit" form="toDoList" value="Submit">SUBMIT</button>
         </form>

          <ul class="completedPlaceHolders">
            {{#complete}}
            <li>
              {{#task}}
                <input type="checkbox" checked>
                <!-- <del>{{complete.task.value}}</del> -->
                <del>{{task}}</del>
              {{/task}}
            </li>
            {{/complete}}
            {{#toDo}}
            <li>
              {{#addItem}}
                  <input type="checkbox">
                  {{text}}
               {{/addItem}}
            </li>
            {{/toDo}}


          </ul>

        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
